<label class="qrcode-text-btn">
    <img
        src="https://lh3.googleusercontent.com/NX0jLajkxFVNxjuDqkFYJdC_KCeAXPyvLT3rNUuL4Uwt6al43V1qrMoYjDdgVm7cSsBg=w300"
        style="width: 100px;"
    />
    <input
        type=file
        accept="image/*"
        capture=environment
        tabindex=-1
        (change)="openQrCamera()"
        (click)="showQrIntro()"
        #qrReaderEl
    />
</label>
<br><br>
<div class="panel panel-danger" *ngIf="error">
    <div class="panel-heading">
        <h3 class="panel-title">Error</h3>
    </div>
    <div class="panel-body">
        {{result}}
    </div>
</div>
<div class="panel panel-primary" *ngIf="!error && result">
    <div class="panel-heading">
        <h3 class="panel-title">Result</h3>
    </div>
    <div class="panel-body">
        {{result}}
    </div>
</div>